.shelves-table .table-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media screen and (max-width: 960px) {
	.shelves-table .table-header {
		align-items: flex-start;
	}
}
.shelves-table .product-image {
	width: 100px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shelves-table .p-dialog .product-image {
	width: 150px;
	margin: 0 auto 2rem auto;
	display: block;
}
.shelves-table .confirmation-content {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 960px) {
	.shelves-table .p-toolbar {
		flex-wrap: wrap;
	}
	.shelves-table .p-toolbar .p-button {
		margin-bottom: 0.25rem;
	}
	.shelves-table .table-header {
		flex-direction: column;
	}
	.shelves-table .table-header .p-input-icon-left,
	.shelves-table .table-header input {
		width: 100%;
	}
}
